html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    width: 90%;
    background-color: #ffffff;
    margin-top: 60px;
    padding: 10px;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    font-weight: lighter;
}

/* Inline: Sigue el flujo del texto, no se puede aplicar ancho y alto */
.inline span, 
.inline em, 
.inline b {
    border: 1px solid red;
    width: 200px;
    height: 200px;
}

/* Inline-block: Sigue el flujo del texto, se puede aplicar ancho y alto */
.inline-block span,
.inline-block em, 
.inline-block b {
    display: inline-block;
    height: 50px; 
    width: 250px;
    padding: 20px;
}

.block p {
    border: 1px solid red;
}

.block h1 {
    display: inline;
}

.none h1 {
    display: none;
}

.contenedor-flex {
    display: flex;

    /* flex-direction: row (hacia los costados), column (Uno sobre el otro) */
    flex-direction: row;

    /* Cuadrados */
    flex-wrap: wrap;

    /* Los coloca en diferentes posiciones */
    justify-content: flex-start;
    justify-content: flex-end;
    justify-content: center;
    justify-content: space-around;
    justify-content: space-between;
}

.contenedor-flex div {
    width: 200px;
    height: 200px;
}

.contenedor-flex div:nth-child(1),
.contenedor-flex div:nth-child(9) {
    background-color:aqua;
}

.contenedor-flex div:nth-child(2),
.contenedor-flex div:nth-child(8)  {
    background-color:blueviolet;
}

.contenedor-flex div:nth-child(3),
.contenedor-flex div:nth-child(7) {
    background-color:brown;
}

.contenedor-flex div:nth-child(4), 
.contenedor-flex div:nth-child(6) {
    background-color:forestgreen;
}

.contenedor-flex div:nth-child(5) {
    background-color:darkslategray;
}