/** Estilos Globales **/
html {
    box-sizing: border-box;
    height: 100%;
}
*, *:before, *:after {
    box-sizing: inherit;
}
* {
    margin: 0;
    padding: 0;
}
body {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e570e7+0,c85ec7+47,a849a3+100;Pink+3D+%233 */
    background: #e570e7; /* Old browsers */
    background: -moz-linear-gradient(top, #e570e7 0%, #c85ec7 47%, #a849a3 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #e570e7 0%,#c85ec7 47%,#a849a3 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #e570e7 0%,#c85ec7 47%,#a849a3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    background-repeat: no-repeat;
    background-attachment: fixed;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e570e7', endColorstr='#a849a3',GradientType=0 );

    background-repeat: no-repeat;
    background-attachment: fixed;
}
header {
    text-align: center;
    padding: 20px 0;
}
.contenedor {
    margin: 0 auto;
    width: 800px;
}
div.hero img {
    width: 100%;
}
h2 {
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    margin: 30px 0;
}
ul.lista-productos {
    list-style: none;
    margin: 0;
    padding: 0;
}
ul.lista-productos li {
    float: left;
    width: 50%;
    padding: 20px;
    text-align: center;
}
ul.lista-productos li:nth-child(2n+1) {
    clear: both;
}
ul.lista-productos li img {
    border: 10px solid rgba(128,1,195,.45);
}
ul.lista-productos li img:hover {
    border: 10px solid #8001c3;
}
ul.lista-productos li p {
    font-size: 28px;
    font-weight: bold;
    color: #ffffff;
    margin: 10px 0 0 0;
}
ul.lista-productos li p span {
    color: #ffce00;
    font-size: 40px;
}
ul.lista-productos li a {
    background-color: #ffce00;
    padding: 10px 40px;
    display: inline-block;
    margin-top: 10px;
    color: #8001c3;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 18px;
}