body {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}

p {
  color: white;
  font-weight: 400;
}

img {
  max-width: 100%;
}

@media only screen and (max-width:599px) {
  body {
    background-color: orange;
  }
  h1 {
    color: white;
  }
  p {
    text-align: justify;
  }
}

@media only screen and (min-width:600px) and (max-width:799px) {
  body {
    background-color: blue;
  }
  h1 {
    color: red;
  }
  img {
    float: right;
  }
}

@media only screen and (min-width:800px) {
  body {
    background-color: purple;
  }
  h1 {
    color: white;
    text-align: center;
  }
  .contenedor {
    max-width: 1000px;
    margin:0 auto;
  }
}
