* {
  box-sizing: border-box;
}
body {
  font-family: 'Raleway', sans-serif;
}
div.contenedor {
  max-width: 1100px;
  margin: 0 auto;
}
div.contenedor::after {
  clear: both;
  content: '';
  display: block;
}
img {
  max-width: 100%;
  width: 40%;
  margin: 0 auto;
  display: block;
}
p {
  text-align: justify;
}
h1 {
  font-size: 30px;
  text-align: center;
}

@media only screen and (min-width:768px) {
  aside.izquierdo {
    width: 25%;
    float: left;
    padding-right: 20px;
    margin-left: -75%;
  }
  article {
    width: 50%;
    padding-right: 20px;
    float: left;
    margin-left: 25%;
  }
  aside.derecha {
        width: 25%;
        float: right;
  }
}






