* {
  box-sizing: border-box;
}
body {
  font-family: arial, helvetica;
}
div.contenido-superior {
  padding: 20px;
}
div.contenido-inferior > div {
  padding:20px;
}

@media only screen and (min-width:768px) {
  div.contenido-inferior > div {
    width: 50%;
    float: left;
  }
  div.contenedor {
    max-width: 1100px;
    margin: 0 auto;
  }
}